{% extends "layout.njk" %}

{% block content %}
        <div id="wrapper">
            <img src="/assets/rocket.jpeg" alt="rocketseat">
            <h1>Rocketseat</h1>
            <p>A
                <a href="http://www.rocketseat.com.br" target="_blank">Rocketseat</a>
                visa formar Devs melhores,aplicações melhores, um mundo melhor.<br>
                Uma experiência com propósito para impulsionar sua carreira e transformar o mundo.
            </p>

            <h2>Principais Tecnologias</h2>

            <ul>
                <li>Html</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>NodeJs</li>
                <li>React</li>
            </ul>
        </div>

{% endblock content %}
