{% extends "layout.njk" %}

{% block content %}

    <div id="wrapper">
        <h1>Cursos</h1>
    </div>

    <section class="cards-2">

        <div class="card-2" id="{{item.id}}">
            <div class="card-container">
                <img src="/assets/{{item.id}}.svg" alt="imagem de {{item.id}}">
            </div>
            <div class="modal-content">
                <iframe src="http://www.rocketseat.com.br/{{item.id}}/" frameborder="0"></iframe>
            </div>
        </div>
    </section>

    <script src="/scripts/script.js"></script>

    {% block footer %}
        <footer></footer>
    {% endblock footer %}

{% endblock content %}