{% extends "layout.njk" %}

{% block content %}

    <div id="wrapper">
        <h1>Cursos</h1>
    </div>

    <section class="cards">

        {% for item in items %}

            <div class="card" id="{{item.id}}">
                <div class="card-container">
                    <img src="/assets/{{item.id}}.svg" alt="imagem de {{item.id}}">
                </div>
                <div class="card-content">
                    <p>Qtd de modulos</p>
                    <p>{{item.qtd}}</p>
                </div>
                <div class="card-info">
                    <p>Preço</p>
                    <p>{{item.price}}</p>
                </div>
            </div>

        {% endfor %}

    </section>

    <script src="/scripts/script.js"></script>

{% endblock content %}